---
layout: default
---
{%- include header.html -%}

<style>
    html {
        box-sizing: border-box;
    }

    body {
        color: white;
        background: #1e1e1e;

    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    .wrapper-1000 {
        max-width: -webkit-calc(1000px - (30px * 2));
        max-width: calc(1000px - (30px * 2));
        margin-right: auto;
        margin-left: auto;
    }

    @media only screen and (max-width: 700px) {
        .wrapper-1000 {
            max-width: -webkit-calc(1000px - (30px * 2));
            max-width: calc(1000px - (30px * 2));
            margin-right: auto;
            margin-left: auto;
            margin: 0px 20px;
        }
    }



    .card-category {
        overflow: hidden;
        background: rgb(37, 37, 37);
        margin-bottom: 36px;
        box-shadow: 0 4px 16px 0 rgb(0 0 0 / 5%);
        border: 1px solid #000000;
        border-radius: 15px;
        width: calc(50% - 20px);
        margin: 5px;
        display: inline-block;
    }

    @media only screen and (max-width: 700px) {
        .card-category {
            /* width: 46%; 
            width: calc(100% - 30px);*/
            width: 100%;
            margin: 10px 0px;
        }
    }

    .card-category-link,
    .card-category-link:hover,
    .card-category-link:visited {
        color: black;
    }

    a.card-category-heading {
        color: white;
        background: rgb(59, 59, 59);
        padding: 14px 18px;
        padding-right: 2px;
        display: inline-block;
        text-overflow: ellipsis;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        letter-spacing: 1px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        font-weight: 700;
        font-size: 15px;
        font-family: 'Trebuchet MS', sans-serif;
    }

    .card-category-img {
        background-repeat: no-repeat !important;
        background-size: cover !important;
        height: 300px;
    }

    .card-category-description {
        color: white;
        padding: 14px 18px;
        padding-right: 2px;
        background: rgb(37, 37, 37);
    }

    .button-wrapper {
        margin: auto;
        text-align: center;
    }

    .card-category-button {
        padding: 2px 0px;
        text-align: center;
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
        margin: 10px 8px;
        width: 117px;
        border: 3px solid blueviolet;
        text-decoration: none !important;
        color: white !important;
        transition: 0.3s;
    }

    .card-category-button:hover {
        border: 3px solid blueviolet;
        background: blueviolet;
    }

    .main-heading-underline {
        text-decoration: underline;
    }

    h2 {
        margin-left: 6px;
        margin-top: 10px;
    }
    #slider{
        height: 300;
    }
</style>

<main>
    <script src="/assets/js/ideal-image-slider.js"></script>
    <div class="wrapper-1000">

        <h2>Top Unity Game Prototypes</h2>

        {%- for page in site.pages -%}
        {% if page.type == "game" %}
        <a class="card-category-link" href="{{ page.url }}">
            <div class="card-category">
                <div id="slider">
                    <img src="{{ page.images.src0 }}" alt="">
                    <img data-src="{{ page.images.src1 }}" alt="">
                    <img data-src="{{ page.images.src2 }}" alt="">
                    <img data-src="{{ page.images.src3 }}" alt="">
                    <img data-src="{{ page.images.src4 }}" alt="">
                    <script>var slider = new IdealImageSlider.Slider({
                        selector: '#slider',
                        interval: 2500,
                        disableNav: true,
                        onStart: function(){
		                    console.log('onStart');
	                    }
                      });
                      slider.start();</script>
                </div>
                <a class="card-category-heading" href="{{ page.url }}">
                    <span class="main-heading-underline">{{ page.main-heading }}</span> {{ page.sub-heading }}
                </a>
                <div class="card-category-description">{{ page.description }}</div>
                <div class="button-wrapper">
                    <a class="card-category-button" href="{{ page.play-link.url }}">{{ page.play-link.name }}</a>
                    <a class="card-category-button" href="{{ page.github-link.url }}">{{ page.github-link.name }}</a>
                </div>
            </div>
        </a>
        {% endif %}
        {%- endfor -%}
        <h2>Top Projects</h2>

        {%- for page in site.pages -%}
        {% if page.type == "project" %}
        <a class="card-category-link" href="{{ page.url }}">
            <div class="card-category">
                <div class="card-category-img" style="background-image: url({{ page.images.main-image }});"></div>
                <a class="card-category-heading" href="{{ page.url }}"><span class="main-heading-underline">{{
                        page.main-heading }}</span> {{ page.sub-heading }}
                </a>
                <div class="card-category-description">{{ page.description }}</div>
                <div class="button-wrapper">
                    <a class="card-category-button" href="{{ page.play-link.url }}">{{ page.play-link.name }}</a>
                    <a class="card-category-button" href="{{ page.github-link.url }}">{{ page.github-link.name }}</a>
                </div>
            </div>
        </a>
        {% endif %}
        {%- endfor -%}

    </div> <!-- Wrapper-1000-->
</main>

{%- include footer.html -%}